/*Header Styling */

.header{
    width: 900px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translatex(-50%);
}
.header .topBar{
    width: 100%;
}
.header .topBar p{
        text-align: center;
}
.header .logoBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logoBar .left img{
   width: 200px;
   height: auto;
}

.header .logoBar .right{
    font-size: x-large;
    
}
.header .logoBar i{
    margin: 10px;
    justify-content: center;

}

/* Navbar Styling */

nav{
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    height:270px;
    position: fixed;
    justify-content: space-evenly;
    gap: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}
nav .navitem{
    background-color: white;
    color: black;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border: 2px solid #7CCE20;
    border-radius: 50%;
}
nav .active-link{
    background-color: #7CCE20;
    color: black;
    display: flex;
    padding: 8px;
    border: 2px solid white;
    border-radius: 50%;
}


/* Home Page Designing */

/* Section 1 */
.homepage{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth; 
    position: absolute;
     scroll-snap-stop: always;
      scroll-snap-align: start;
    z-index: -15;
    -ms-overflow-style: none;
    scrollbar-width:none;
    &::-webkit-scrollbar{
        display: none;
    };
   
}
.updownarrows{
    height: 200px;
    width: 30px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    position: fixed;
    top: 35%;
    left: 2%;
}
.updownarrows button{
    font-size: 30px;
    background: none;
    color: #6FBC1A;
    border: none;
}
.updownarrows .fixedup{
    position: absolute;
    border: 2px solid #6FBC1A;
    border-radius:50% ;
    top: 0;
}
.updownarrows .fixeddown{
    position: absolute;
    border: 2px solid #6FBC1A;
    border-radius:50% ;
    bottom: 0;
}
.flex{
    scroll-snap-align: center;
    scroll-snap-stop: always; 
}
.mainsection{
    width: 100%;
    height: 100vh;
    background-color: white;
    background-image:linear-gradient(rgba(0,0,0,0.8)), url("/Newfolder/bg.jpg");
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}

.innersection1
{
    width: 800px;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.companylogos
{
    text-align: center;
}
.companylogos img{
    width: 400px;
}
.mainsection .innersection1 .starsreview{
    display: flex;
    width: 200px;
    font-size: large;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 15px;
}
.mainsection .innersection1 .title
{
    color: #B0FF5D;
    font-size: 40px;
}
.mainsection .innersection1 .description{
    text-align: center;
    font-size: 18px;
}
.mainsection .innersection1 button{
    background-color: #7CCE20;
    border-radius: 20px;
    padding: 10px;
    border: none;
}

/* Marquee */
.marquee {
  width: 100%;
  overflow: hidden;
  background: #1A1A1A;
  position: absolute;
  bottom: 0;
  color: #BAFF77;
}

.marque-content {
  display: flex;
  white-space: nowrap;
}

.marque-track {
  padding: 10px;
  display: inline-flex;
  animation: scroll-left 30s linear infinite;
}

.marque-track p {
  margin: 0 50px;
  font-size: 20px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Home Page Section2 */
.section2{
    width: 100%;
    height: 100vh;
    background-image:url("/Newfolder/odesigning-bg.png");
    background-size: contain;
    background-position: center;
    background-size: 450px;
    position: relative;
    background-repeat: no-repeat;
}
.section2 .innersection{
    width: 100%;
    height: 100vh;
    position: relative;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.section2 .data1{
    display: flex;
    width: 1000px;
    justify-content: space-between;
}
.section2 .datavalues{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid #1D3107;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 10px;
    background-color: #0B1204;
}
.section2 h2{
    color: #B5F86B;
}
.section2 h3{
    color: #90F421;
    font-size: 16px;
}
.section2 .data2{
    display: flex;
    width: 800px;
    justify-content: space-between;
}

/* Home Page Section 2 Ended*/

/* Home Page Section 3 */
.section3{
    width: 100%;
    height: 100vh;
    /* margin-top: 30px; */
    /* position: relative; */
}
.section3 .innsection3{
    width: 90%;
    height: 100hv;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:50px;
    flex-direction: column;
    gap: 25px;
}
.section3 h2{
    color: #B5F86B;
}
.section3 .icon{
    width: 50px;
    height: 50px;
    color:#B0FF5D;
}
.section3 .sol{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    
}
.section3 .sol .solution{
    height: 330px;
    padding: 15px 0px;
    border: 3px solid green;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 2px solid #10100F;
    border-radius: 15px;
    font-size: 15px;
    box-shadow:0.4px 0.4px 30px 6px #a2f35124;
}
.section3 .sol .solution ul{
    line-height: 30px;
}
.section3 .sol .solution:hover{
     background: radial-gradient(
    ellipse at top center,
    rgba(171, 255, 74, 0.347)0%,
    rgba(144, 244, 33, 0)100%
  );
  background-repeat: no-repeat;
  background-size:100% 100%;
  background-position: top center;
  box-shadow:0.5px 0.5px 30px 9px #9aeb4924;
}
.section3 .readmore{
    color: #90F421;
    border: 2px solid #90F421;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    background-color: transparent;
}

/* Service Component Designing */

.services{
    width: 100%;
    height: 100vh;
    background-color: white;
    background-image:linear-gradient(rgba(0,0,0,0.8)), url("/Newfolder/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.serviceinner{
    width: 700px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.serviceinner .phool{
 
    animation: rotate 6s linear infinite;
}
.services .flowericon{
    font-size: 70px;
    color: #7CCE20;
    
    /* transform-origin: center center; */
}
@keyframes rotate{
    from{
       transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}

.serviceinner .title{
    color: #B0FF5D;;
    
}
.serviceinner .description{
    font-size: 18px;
}

.meetarea{
    background-color: #1b1b1baf;
    padding: 10px;
    border-radius: 20px;
    width:600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.meetarea .camera{
    font-size: 30px;
    color: #6FBC1A;
    
}
.meetarea h3{
    font-size: 24px;
}
.meetarea p{
    font-size: 16px;
}
.serviceinner button{
    background-color: #7CCE20;
    border-radius: 20px;
    padding: 10px;
    border: none;
}


/*  Contact PAge */
.contact{
    width: 100%;
    height: 100vh;
}
.frontformarea{
    width: 1050px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.frontformarea .getintouch{
    color:#B0FF5D;
    font-weight: 600;
}
.frontformarea .descripline{
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}
.frontformarea .contactinfo{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
 
}
.threebox{
    width: 300px;
    height: 200px;
    border: 1px solid greenyellow;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    border-radius:15px ;
    background-color: #6ebc1a2d;
    
}
.threebox .contacticon{
    font-size: 40px;
    background-color: black;
    padding: 10px;
    border-radius: 50%;
    
}
.threebox .contacticon:hover{
    color: #7CCE20;
}
.contactdata{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    line-height: 20px;
    align-items: center;
    justify-content: center;
}
.contactdata .iconcall{
    color: #7CCE20;
}
.address .addressdata{
    margin-left: 10px;
   
}